# Usage: pip install -r requirements.txt

# Base ----------------------------------------
ultralytics

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# API -----------------------------------------
Flask

# Extras --------------------------------------
psutil  # system utilization
thop>=0.1.1  # FLOPs computation

